@{
	ViewData["Title"] = "CategoryList";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
	<title>Kategori Listesi</title>
	<!-- jQuery kütüphanesini ekleyin -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

	<div class="card-title">
		<h4>Kategori Listesi</h4>
	</div>
	<div class="table-responsive">
		<table id="categoryTable" class="table table-bordered">
			<thead>
				<tr>
					<th>Kategori Id</th>
					<th>Kategori Adı</th>
					<th >Sil</th>
                    <th >Güncelle</th>
				</tr>
			</thead>
			<tbody>

			</tbody>
		</table>
        <a href="/Categories/CreateCategory/" style="float:left" class="btn btn-primary">Kategori Ekle</a>
	</div>

    <script>
        $.ajax({
            url: "https://localhost:44301/api/Categories/GetAllCategories",
            type: "GET",
            dataType: "json",
            success: function (data) {
                var table = $("#categoryTable tbody");
                $.each(data, function (index, category) {
                    var row = $("<tr></tr>");
                    row.append("<td>" + category.categoryId + "</td>");
                    row.append("<td>" + category.categoryName + "</td>");

                    var deleteButton = $("<button class='btn btn-danger '>Sil</button>");
                    deleteButton.click(function () {
                        if (confirm("Bu kategoriyi silmek istediğinizden emin misiniz?")) {
                            $.ajax({
                                url: "https://localhost:44301/api/Categories/DeleteCategory?id=" + category.categoryId,
                                type: "DELETE",
                                success: function (response) {
                                    
                                    alert("Kategori silindi.");
                                },
                                error: function () {
                                    alert("Kategori silme hatası.");
                                }
                            });
                        }
                    });

                    var updateButton = $("<button class='btn btn-success '>Güncelle</button>");
                    updateButton.click(function () {
                         
                        window.location.href = "/Categories/UpdateCategory/" + category.categoryId;
                        
                    });

                    row.append($("<td></td>").append(deleteButton));
                    row.append($("<td></td>").append(updateButton));

                    table.append(row);

                });
            },
            error: function () {
                alert("API'den veri çekme hatası");
            }
        });
    </script>
</body>
</html>

