@model CreateCustomerDto
@{
    ViewData["Title"] = "CreateCustomer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card-title">
    <h4>Müşteri Ekleme Sayfası</h4>
</div>
<div class="card-body">
    <div class="form-validation">
        <form class="form-valide" method="post">
            <div class="form-group row">
                <label class="col-lg-4 col-form-label" for="val-email">
                    Müşteri Adı
                </label>
                <div class="col-lg-6">
                    <input type="text" class="form-control" asp-for="CustomerName" placeholder="Müşteri adı giriniz..">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-4 col-form-label" for="val-currency">
                    Müşteri Soyadı
                </label>
                <div class="col-lg-6">
                    <input type="text" class="form-control" asp-for="CustomerSurname" placeholder="Müşteri Soyadı giriniz..">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-4 col-form-label" for="val-currency">
                    Telefon Numarası
                </label>
                <div class="col-lg-6">
                    <input type="text" class="form-control" asp-for="PhoneNumber" placeholder="Telefon numarası giriniz..">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-lg-4 col-form-label" for="val-currency">
                    Müşteri Email
                </label>
                <div class="col-lg-6">
                    <input type="text" class="form-control" asp-for="CustomerEmail" placeholder="Müşteri mail adresi giriniz..">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-lg-4 col-form-label" for="val-currency">
                    Adres
                </label>
                <div class="col-lg-6">
                    <input type="text" class="form-control" asp-for="Address" placeholder="Adres bilgisi giriniz..">
                </div>
            </div>


            <div class="form-group row">
                <div class="col-lg-8 ml-auto">
                    <button class="btn btn-primary">Kaydet</button>
                </div>
            </div>
        </form>
    </div>
</div>

