<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li class="nav-label">Dashboard</li>
            
            <li class="mega-menu mega-menu-sm">
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="fa fa-product-hunt"></i><span class="nav-text">Ürünler</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/Products/ProductList/">Ürünleri Listele</a></li>
                    <li><a href="/Products/CreateProduct">Ürün Ekle</a></li>                    
                </ul>
            </li>
            <li class="mega-menu mega-menu-sm">
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="fa fa-list-alt"></i><span class="nav-text">Kategoriler</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/Categories/CategoryList/">Kategorileri Listele</a></li>
                    <li><a href="/Categories/CreateCategory">Kategori Ekle</a></li>
                </ul>
            </li>
            <li class="mega-menu mega-menu-sm">
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="fa fa-user"></i><span class="nav-text">Müşteriler</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/Customers/CustomerList/">Müşterileri Listele</a></li>
                    <li><a href="/Customers/CreateCustomer">Müşteri Kaydı Oluştur</a></li>
                </ul>
            </li>
            <li class="mega-menu mega-menu-sm">
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="fa fa-wrench"></i><span class="nav-text">Servisler</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/Services/ServiceList/">Servisleri Listele</a></li>
                    <li><a href="/Services/CreateService">Servis Kaydı Oluştur</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
